body {
  background-color: #a1a1a1;
}

.target {
  background-color: #ffffff;
}

.score {

  font-family: arial;
  font-size: 4vw;
}

.row {
  height: 150px;
}

.btn {

  width: 150px;
  height: 100px;
}

.ultimateBorder {

  border: 5px solid black;
}

.box{

  border: 4px solid black;
  background-color: #ffffff;
}
